.membership-card {
  background: rgba(255,255,255,0.05);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

select.form-select {
  background: rgba(255,255,255,0.1);
  color: #101010;
}
