body {
  font-family: 'Poppins', sans-serif;
  background-color: #000000;
  color: #e3e6eb;
  min-height: 100vh;
}

h1, h2, h3 {
  color: #fff;
}

.navbar {
  background-color: #6c757d !important;
  border-bottom: 1px solid rgba(65, 64, 64, 0.1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.navbar .nav-link {
  color: #ffffff !important;
}
.navbar .nav-link:hover {
  color: #000000 !important;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0e141b; 
  color: #aaa;
  text-align: center;
  padding: 10px 0;
  font-size: 0.9em;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.card {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
}

.card-img-top {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

/* Structure support for main layout */
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto; 
}

.footer {
  flex-shrink: 0;
  background-color: #111820;
  color: #aaa;
  text-align: center;
  padding: 10px 0;
  font-size: 0.9em;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}