{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
{% endblock %}
{% block content %}
<div class="text-center">
  <h2 class="fw-bold text-light">About ElleTech</h2>
  <p class="text-secondary mt-3">
    ElleTech brings the latest innovations in digital electronics—gaming PCs, laptops,
    and smart devices—designed for high-performance and smarter living.
  </p>

  <p class="text-secondary">
    School Projects (Website) Demonstrated Using VsCode(Python as a main, HTML as Basic UI SKELETON, And CSS for designed).
  </p>
</div>
{% endblock %}
